@font-face {
    src: url(_Fonts/Gruppo/Gruppo-Regular.ttf);
    font-family: 'Gruppo-Regular';    
    font-weight: normal;
        } 

* {
    margin: 0;
    padding: 0;
}

body{
  background-color: rgb(43, 43, 43);
  font-family: 'Gruppo-Regular', sans-serif;

}

  #background-video {
    width: 100%;
    object-fit: fill;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }


  #dev {
    width: 100%;
    object-fit: fill;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
  }

  p, li{
    font-size: 16px;
    color: #00944f;
    /* background-color: blue; */
  }

  .trybe{
    color: #000;
  }

  h1, h3, h4{
    color: #00944f;
  }

  .main-title{
    color: #02a505;
    line-height: 55px;
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 40px;
  }

  .section-title{
    line-height: 42px;
    font-weight: 600;
    font-size: 28px;
    margin-bottom: 45px;
  }

  .exemplo{
    background-color: chocolate;
  }

  .picture{
    border-radius: 25%;
  }

  .skill-name{
    line-height: 20px;
    font-weight: 600;
    font-size: 14px;
  }

  .button{
    background-color: #11a36a;
    color: #fff;
    border-radius: 4px;
    padding: 15px 30px 15px 30px;
    /* top right bottom left */
    text-decoration: none;
    font-size: 16px;
  }

  #header {
   
    background-size: cover;
    background-position: 50% 25%;
    padding: 60px 30px 40px 30px;
  }

  #header-content {
    width: 60%;
    float: left;
  }

  .header-text {
    width: 80%;
  }

  #Profile-Picture {
    width: 40%;
    float: right;
  }


  .intro {
    background-color: #000;
    text-align: center;
    margin-top: 200px;
    margin-bottom: 40px;
    clear: both;
  }

  #intro-text {
    width: 80%;
    /* margin auto coloca o elemento centralizado */
    margin: auto;
  }

  .caixa {
    color: white;
    display: inline-block;
    line-height: 50px;
    text-align: center;
    vertical-align: top;
  }
  
  .width-and-height {
    height: 50px;
    width: 100px;
    margin: 30px;
  }
  
  /* insira na classe abaixo um padding de 20px para aplicá-lo aos itens B, C e D */
  /* .padding {
      margin: 20px;
  } */
  
  /* insira na classe abaixo uma margem de 30px para aplicá-la aos itens C e D */
  /* .margin {
    margin: 30px;
  }
   */
  /* insira na classe abaixo uma borda com valor '5px solid black' para aplicá-la ao item D */
  .border {
    border: #000 5px;
  }

  .skills {
    /* background-color: orange; */
    text-align: center;
    margin-top: 60px;
    margin-bottom: 80px;
  }

  .dev-skills {
    /* background-color: blue; */
    width: 30%;
    display: inline-block;
    align: top;
    margin-right: 20px;
  }

  /* aplica para todos os p descendentes de .student-testimonials */
  .dev-skills p {
    padding: 10px;
  }

  .formation {
    margin-top: 25px;
    margin-bottom: 40px;
  }

  #div-left {
    float: left;
  }

  #div-right {
    float: right;
  }

  .footer {
    clear: both;
  }

    /* aplica para todos os p filhos de .student-testimonials
    .student-testimonials > p {
        background-color: orange;
    }
    */

  /* #xablau{
    background-color: darkred;
  } */